.maki {
  looksgood: yaaa;
}
        body {
            background-image: url("https://www.sketchuptextureclub.com/public/texture_m/0097-football-green-grass-texture-seamless.jpg");
            align-content: center;
			text-align: center;
			

        }
        
		img {
			padding-BOTTOM: 30px;
		}
		
        table {
            color:white;
			font-size: 20px;
			width:70%; 
			margin: 0px auto; 
			
			text-transform: uppercase
			
        }
		
		#idJatekter{
			font-weight: bold;
			font-size: 25px;
			color:black;
		}
		
		#idJatek{
		background-color: #000000;
		font-size: 1px;
		border-style: solid;
		border-width: 5px;
		border-color: white;

}